{
  "client": {
    "socket": {
      "bind": "{{ .Env.CLIENT_BIND }}"
    },
    "name": "{{ default .Env.CLIENT_NAME .Env.HOSTNAME }}",
    "address": "{{ .Env.CLIENT_ADDRESS }}",
    "subscriptions": [
      {{range  $index, $element := split .Env.CLIENT_SUBSCRIPTIONS "," }}
        {{if $index}},{{end}}"{{.}}"
      {{end}}
    ],
    "keepalive": {
      "handler": "{{ default .Env.CLIENT_KEEPALIVE_HANDLER "default"  }}"
    }
  }
}
