{
    "transport": {
      "name": "{{ .TRANSPORT_NAME  }}",
      "reconnect_on_error": {{ default .TRANSPORT_RECONNECT "true" }}
    } {{ if eq .TRANSPORT_NAME "rabbitmq"}},
    "rabbitmq": {
        "port": {{ default .RABBITMQ_PORT .RABBITMQ_PORT_5672_TCP_PORT }},
        "host": {{ .RABBITMQ_HOST | quote }},
        "user": {{ .RABBITMQ_USER | quote }},
        "password": {{ .RABBITMQ_PASSWORD | quote }},
        "vhost": {{ .RABBITMQ_VHOST | quote }},
        "prefetch": {{ .RABBITMQ_PREFETCH }} {{ if eq .RABBITMQ_SSL_SUPPORT "true" }},
          "ssl" : {
            "cert_chain_file": "/etc/sensu/ssl/cert.pem",
            "private_key_file": "/etc/sensu/ssl/key.pem"
          } {{ end }}
    } {{ end }}
    {{ if eq .TRANSPORT_NAME "snssqs"}},
    "snssqs": {
        "max_number_of_messages": {{ default .SNSSQS_MAX_NUMBER_OF_MESSAGES 10}},
        "wait_time_seconds": {{ default .SNSSQS_WAIT_TIME_SECONDS 2 }},
        "region": {{ .SNSSQS_REGION | quote }},
        "consuming_sqs_queue_url": {{ .SNSSQS_CONSUMING_SQS_QUEUE_URL | quote }},
        "publishing_sns_topic_arn": {{ .SNSSQS_PUBLISHING_SNS_TOPIC_ARN | quote }}
    } {{ end }}
}
