{{ $TRANSPORT_NAME := default "rabbitmq" .TRANSPORT_NAME }}
{{ $RABBITMQ_PORT := default "5672" .RABBITMQ_PORT }}
{
    "transport": {
      "name": "{{ $TRANSPORT_NAME  }}",
      "reconnect_on_error": {{ default .TRANSPORT_RECONNECT "true" }}
    } {{ if eq $TRANSPORT_NAME "rabbitmq"}},
    "rabbitmq": {
        "port": {{ default $RABBITMQ_PORT .RABBITMQ_PORT_5672_TCP_PORT }},
        "host": {{ default "rabbitmq" .RABBITMQ_HOST | quote }},
        "user": {{ default "guest" .RABBITMQ_USER | quote }},
        "password": {{ default "guest"  .RABBITMQ_PASSWORD | quote }},
        "vhost": {{ default "/" .RABBITMQ_VHOST | quote }},
        "prefetch": {{ default "1" .RABBITMQ_PREFETCH }}
    } {{ end }}
}
